body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('fall.webp') center/cover no-repeat;
  }
canvas { cursor: pointer; }